<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402768865765-p8r99d8sual0a6sj7td442u7dsltmv17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402768865765-p8r99d8sual0a6sj7td442u7dsltmv17</string>
	<key>API_KEY</key>
	<string>AIzaSyAD1YS5R4U5HZYAH-pviB6ntJCimJFpwsU</string>
	<key>GCM_SENDER_ID</key>
	<string>402768865765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrisonferrone.firequest</string>
	<key>PROJECT_ID</key>
	<string>firequest-f40a2</string>
	<key>STORAGE_BUCKET</key>
	<string>firequest-f40a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402768865765:ios:5fd597e1cf7fbf70</string>
	<key>DATABASE_URL</key>
	<string>https://firequest-f40a2.firebaseio.com</string>
</dict>
</plist>