<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>49828814435-7jikuglml3dtf04va4vedcluk1cjrq8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49828814435-7jikuglml3dtf04va4vedcluk1cjrq8d</string>
	<key>API_KEY</key>
	<string>AIzaSyDKG0b5aZl5P7qzk2wpxqjfUI8CNa6ZQpc</string>
	<key>GCM_SENDER_ID</key>
	<string>49828814435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paradigmdev.firebasedebugger</string>
	<key>PROJECT_ID</key>
	<string>fir-debugger</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-debugger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49828814435:ios:7bf129fb997b9ac3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-debugger.firebaseio.com</string>
</dict>
</plist>